<html>
        <body>
    
        
    
    <form method="post" action="/adminview">
    
        <button type="submit" class="loginbtn">view</button>
        

      </div>
      </form>
      <form action="/relnview" method="POST">
          <button type="submit" class="loginbtn2">view relation</button>
      </form>
      
    
    </body>
    
    </html>