<html>
        <body>
    
        
    
    <form method="post" action="/adminview">
    
        <button type="submit" class="loginbtn">view</button>
      </div>
      </form>
      
    
    </body>
    
    </html>