<html>
        <body>
    
        
    
    <form method="post" action="/adminlog">
    
    
        
     
     <h1>ADMIN LOGIN</h1><br><br>
    
    
    
        <label for="admin name"><b>admin name</b></label>
        <input type="text" placeholder="Admin name" name="admin" required><br><br>
    
    
     `
    
        <label for="password"><b>Password</b></label>
        <input type="text" placeholder="Enter password" name="password" required><br><br>
    
        
       
        
    
        <button type="submit" class="loginbtn">Login</button>
      </div>
      </form>
      
    
    </body>
    
    </html>