
<html>
        <body>
    
        
    
    <form method="post" action="/log">
    
    
        
     
     <h1>LOGIN</h1><br><br>
    
    
    
        <label for="uname"><b>UserName</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required><br><br>
    
    
     `
    
        <label for="password"><b>Password</b></label>
        <input type="text" placeholder="Enter password" name="password" required><br><br>
    
        
       
        
    
        <button type="submit" class="loginbtn">Login</button>
      </div>
      </form>
      
    
    </body>
    
    </html>