<h1>email</h1>

<ul>
    <% view1.forEach(function(Register){%>
        <li><%= Register.email %></li>
        <% }) %>
      </ul>
      <h2>name</h2>
      <ul>
            <% view1.forEach(function(Register){%>
                <li><%= Register.name %></li>
                <% }) %>

      </ul>


      